<div class="Maincontainer">
   <div class="rightcontent">For test</div>

   <div class="middlecontent">
    <div class="mid">
        <div>New In</div>
        <div>Best Seller</div>
        <div>Category</div>
    </div>
   </div>

   <div class="leftcontent">
    <div class="mid">
        <div>
            <img src="/troubleshoot.png" alt="">
            <span>Search</span>
        </div>
        <div>
            <img src="/local_mall (2).png" alt="">
            <span>Bag</span>
        </div>
        <div>
            <img src="/local_mall (3).png" alt="">
            <span>DreamList</span>
        </div>
        <div>
            <img src="/SVG (1).png" alt="">
            <span>Profile</span>
        </div>
    </div>
   </div>
</div>
