.offer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // padding: 20px;
    // gap: 40px;
    // width: 1440px;
    height: 536px;
    background-color: #fdfbf5;
  
    .left-items,
    .right-items {
      display: flex;
      align-items: center;
      gap: 15px;
  
      img {
        .leftimg{
          padding-left: 113px;
        }
        // width: 100px;
        // height: auto;
      }
    }
  
    .offer-details {
      text-align: center;
  
      h2 {
        font-size: 16px;
        font-weight: 600;
        
      }
  
      p {
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        margin: 10px 0;
      }
  
      button {
        // background: linear-gradient(to right, #f36dff, #a370f0);
        background: #C473FF;
        border: none;
        padding: 10px 20px;
        color: #F8EDEB;
        font-weight: 700;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    
        .offer-images {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
  }
  