<div class="offer-container">
    <div class="left-items">
      <img class="leftimg" src="/image 3.png" alt="Item 1" width="138px" height="140px">
      <img src="/image 4.png" alt="Item 2" width="189px" height="299px">
    </div>
  
    <div class="offer-details">
      <h2>Get 50% Off</h2>
      <p>for all new product purchases <br> min. purchase Rp. 350.000</p>
      <button>Shop this</button>
    </div>
  
    <div class="right-items">
      <img src="/image 5.png" alt="Item 3" width="459px" height="259px">
     
    </div>
  </div>
  