.bestseller-container {
    text-align: center;
    background: #fbeff3;
    padding: 40px 20px;
    
    h2 {
      font-size: 36px;
      font-weight: 500;
    }
  
    .view-more {
      color: #C473FF;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      // margin-bottom: 20px;
      display: inline-block;
    }
  
    .bestseller-scroll {
      display: flex;
      overflow-x: auto;
      gap: 20px;
      padding: 20px;
      scroll-behavior: smooth;
      white-space: nowrap;
      scroll-snap-type: x mandatory;
      scrollbar-width: none; 
      -ms-overflow-style: none;
    
      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    .bestseller-item {
      background: white;
      border-radius: 10px;
      padding: 15px;
      width: 250px;
      text-align: left;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;
     
      .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .price{
        display: flex;
        gap: 4px;
        justify-content: start;
        align-items: center;
      }
      img {
        // width: 100%;
      width: 250px;
        // height: 200px; /* Adjust height as needed */
        object-fit: cover; /* Ensures the image fills the area without distortion */
        // border-radius: 10px;

     
      }
    
      // .rating {
      //   width: 100%;
      //   height: 20px;
      // }
    
  
      h3 {
        font-size: 14px;
        font-weight: 400;
        color: #846464;
        margin: 10px 0;
      }
  
      .old-price {
        text-decoration: line-through;
        font-size: 14px;
        font-weight: 400;
        color: #404040;
      }
  
      .new-price {
        font-size: 14px;
        font-weight: 700;
        color:#404040;
      }
  
      .rating {
        font-size: 14px;
        color: green;
      }
  
      .colors {
        display: flex;
        gap: 5px;
        margin: 10px 0;
  
        span {
          width: 28px;
          height: 28px;
          border-radius: 4px;
          display: inline-block;
        }
      }
  
      .buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
  
        button {
          flex: 1;
          padding: 8px;
          border:#C473FF;
          box-shadow: #C473FF;
          border-radius: 4px;
          cursor: pointer;
          font-size: 14px;
        }
  
        .view {
          background: transparent;
          border:2px solid #C473FF;
          color: #C473FF;
          font-weight: 700;
          font-size: 16px;
        }
  
        .shop {
          background:#C473FF;
          color: #F8EDEB;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
    @media (max-width: 768px) {
        .best-item {
          min-width: 180px;
        }
      }
  }
  