.collections-container {
    background-image: url('/Carousel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  @media (min-width:320px) and (max-width:475px){
    .collections-container{
    background-image: url('/Frame 1984078242.png');
    background-size: cover;
    width: 381px;
    height: 194px;

    }
  }